@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  @apply border-2 px-2 py-1 border-stone-200 rounded-md w-full mb-4 mr-4;
}
input:focus-visible,
input:focus {
  @apply border-stone-500;
  outline: unset;
}
h1 {
  @apply text-stone-800 mb-4 text-2xl;
}
label {
  @apply mb-2 text-stone-600;
  display: block;
}
.btn {
  @apply bg-stone-700 text-stone-200 py-1 px-4 rounded-md transition-all;
  &:hover {
    @apply bg-stone-600 text-stone-100
  }
  &_red {
    @apply bg-red-800 text-white;
    &:hover {
      @apply bg-red-700
    }
  }
} 
.product-preview {
  @apply border-r border-b border-stone-200 p-2 py-3;
}
.product-preview td{
  @apply p-2 border
}
table.default {
  @apply w-full rounded-t-lg overflow-hidden
}
table.default thead tr {
  @apply bg-stone-200 border
}
table.default thead tr td{
  @apply p-2
}

.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(#333, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  &.open {
    visibility: visible;
    opacity: 1;
  }
}
.popup__content {
  background: #ffffff;
  padding: 40px 60px;
  text-align: center;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(#000, 0.3);
}

.form {
  @apply flex gap-4 flex-wrap relative;
  &>div {
    width: 48%;
    @media (max-width: 992px) {
      width: 100%;
    }
  }
  &>.images {
    @media (max-width: 992px) {
      order: -1;
    }
  }
}

.upload {
  svg {
    @apply transition-all duration-200
  }
  @apply cursor-pointer w-24 h-24 border-2 flex items-center justify-center border-stone-200 rounded-lg text-green-700;
  &:hover {
    svg {
      @apply w-10 h-10
    }
  }
}

.image-preview {
  position: relative;
  .delete {
    position: absolute;
    visibility: hidden;
    right: 0;
    top: 0;
    cursor: pointer;
    background-color: #ffffff;
    
    @apply text-red-600 rounded-bl-lg
  }
  &:hover {
    .delete {
      visibility: visible;
    }
  }
}