@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, * {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.8rem;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-stone-200;
  border-radius: 0.8rem;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-stone-500;
  border-radius: 0.8rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-stone-700;
}
input,
textarea {
  @apply border-2 px-2 py-1 border-stone-200 rounded-md w-full mb-4 mr-4;
}
.settings input {
  @apply mr-0 mb-0;

}
textarea {
  height: 180px;
}
.succes {
  @apply bg-green-600 text-white py-1 px-4 pb-1.5 rounded-md transition-all;
}
input:focus-visible,
input:focus,
textarea:focus-visible,
textarea:focus {
  @apply border-stone-500;
  outline: unset;
}
h1 {
  @apply text-stone-800 mb-4 text-2xl;
}
label {
  @apply mb-2 text-stone-600;
  display: block;
}
.btn {
  @apply bg-stone-700 text-white py-1 px-4 pb-1.5 rounded-md transition-all;
  &:hover {
    @apply bg-stone-600 text-stone-100
  }
  &_red {
    @apply bg-red-800 text-white;
    &:hover {
      @apply bg-red-700
    }
  }
  &_white{
    @apply bg-white text-stone-700 border-stone-700 border;
    &:hover {
      @apply btn;
    }
  }
  &_small{
    @apply py-1 px-2;
    svg {
      @apply w-5 h-5
    }
    &:hover {
      @apply py-1 px-2;
    }
  }
  &:disabled {
    @apply bg-stone-400 
  }
} 
.table__head .table-row {
  @apply bg-stone-200 text-left;
}
.table__body {
  @apply  border-b border-stone-200;
}
.table-row {
  @apply  border-b border-stone-200  w-full flex justify-between;
  &:last-child {
    @apply border-b-0;
  }
  li {
    @apply border-l border-stone-200 p-2 py-3;
    width: 100%;
    text-align: left;
    &:nth-child(1) {
      width: 100%;
      @apply border-l-0;
    }
    @media (max-width: 641px) {
      &:nth-child(1) {
        width: 100%;
        @apply border-l-0;
      }
    }
  }
}

.table.default {
  @apply w-full rounded-t-lg border-r border-t border-l
}
.items-top .image img {
  max-width: 75px;
  width: 75px;
}
.items-top .image {
  @media (max-width: 992px) {
    display: none;
  }
}
.crossed {
  position: relative;
  &::before {
    @apply bg-red-700;
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    height: 1px;
    transform: translateY(-50%) rotate(-15deg);
    transform-origin: center;
  }
}

.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(#333, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  &.open {
    visibility: visible;
    opacity: 1;
    z-index: 100;
  }
}
.popup__content {
  background: #ffffff;
  padding: 40px 60px;
  text-align: center;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(#000, 0.3);
}

.form {
  @apply flex gap-4 flex-wrap relative;
  &>div {
    width: 48%;
    @media (max-width: 992px) {
      width: 100%;
    }
  }
  &>.images {
    @media (max-width: 992px) {
      order: -1;
    }
  }
}

.upload {
  svg {
    @apply transition-all duration-200
  }
  @apply cursor-pointer w-24 h-24 border-2 flex items-center justify-center border-stone-200 rounded-lg text-green-700;
  &:hover {
    svg {
      @apply w-10 h-10
    }
  }
}

.image-preview {
  position: relative;
  .delete {
    position: absolute;
    visibility: hidden;
    right: 0;
    top: 0;
    cursor: pointer;
    background-color: #ffffff;
    
    @apply text-red-600 rounded-bl-lg
  }
  &:hover {
    .delete {
      visibility: visible;
    }
  }
}

.dropdown-btn {
  @apply absolute right-0 bottom-2 w-9 flex justify-center;
  transition: all 0.2s;
  transform-origin: center;
  outline: none;
  &.open {
    transform: rotateX(180deg);
  }
  &_full {
    @apply w-full flex justify-end pr-2 h-full items-center -mb-2;
  }
}

.navigation {
  z-index: 100;
}
@media (max-width: 641px) {
  .navigation {
    @apply -translate-x-full transition-all;
    &.open {
      @apply translate-x-0;
    }
  }
}
.hamburger {
  @apply absolute -right-14 top-5 flex-col justify-between transition-all p-2 hidden max-sm:flex;
  width: 45px;
  height: 34px;
  span {
    @apply bg-stone-600 block w-full transition-all;
    width: 100%;
    height: 2px;
  }
  &.open {
    @apply right-4 top-5;
    width: 37px;
    span:nth-child(1) {
      @apply rotate-45 relative;
      top: 7.5px;
    }
    span:nth-child(2) {
      @apply hidden
    }
    span:nth-child(3) {
      @apply -rotate-45 relative;
      bottom: 8px;
    }
  }
}

// animation 
.spin {
  @apply animate-spin;
  animation-duration: 1000ms;
  animation-iteration-count: 2;
  animation-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
}