@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  @apply border-2 px-2 py-1 border-stone-200 rounded-md w-full mb-4 mr-4;
}
input:focus-visible,
input:focus {
  @apply border-stone-500;
  outline: unset;
}
h1 {
  @apply text-stone-800 mb-4 text-2xl;
}
label {
  @apply mb-2 text-stone-600;
  display: block;
}
.btn-primary {
  @apply bg-stone-300 text-stone-900 py-1 px-4 rounded-md
} 
.product-preview {
  @apply border-b border-stone-300 p-2 py-3;
}
.product-preview td{
  @apply p-2 border
}
table.default {
  @apply w-full rounded-t-lg overflow-hidden
}
table.default thead tr {
  @apply bg-stone-200 border
}
table.default thead tr td{
  @apply p-2
}